<div class="container">
  <div class="">
    <div class="row">
      <div class="col-md-4">
        <div class=" well">
          <center><h3  class="headerC"><ul>News</ul></h3></center>
          <div ng-repeat="newsData in newsObjH | limitTo:'3'">
            <a href="#newsList/{{newsData.nID}}" class="blackC" ng-click="getNewsItem(newsData.nID)">{{newsData.nTitle}}</a>
          </div>
          <a href="#/news" class="pull-right">more</a></br></br>
        </div>
        <div class=" well">
          <center><h3 class="headerC"><ul>Reviews</ul></h3></center>
          <div ng-repeat="Rdata in reviewsObjH | limitTo:'3'">
            <a href="#SingleMovieReview/{{Rdata.reviewID}}" class="blackC" ng-click="getMovieItem(Rdata.reviewID)">{{Rdata.MovieName}}</a>
          </div>
          <a href="#/reviews" class="pull-right">more</a></br></br>
        </div>
        <div class=" well">
          <center><h3 class="headerC"><ul>Gallery</ul></h3></center>
          <div ng-repeat="Gdata in galObjH | limitTo:'3'">
            <a href="#gallery/{{Gdata.galleryName}}" class="blackC" ng-click="GetImages(Gdata.galleryName)">{{Gdata.galleryName}}</a>
          </div>
          <a href="#/images" class="pull-right">more</a></br></br>
        </div>
        <div class=" well">
          <center><h3 class="headerC"><ul>Trailers</ul></h3></center>
          <div ng-repeat="Tdata in traiObjH | limitTo:'3'">
            <button type="" value={{Tdata.trailerUrl}} class="borderLess" id={{Tdata.trailerId}} onclick="myFunction(this.value,this.id)"   data-toggle="modal" data-target="#myModal">
              {{Tdata.trailerMoviename}}
            </button>
            <div class="modal fade" style="width: 100%"  style id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" style="width: 50%" role="document">
                <div class="modal-content" style="width: 100%">
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-12">
                    <div class="col-md-12" id=parent_video>
                    <div class="col-md-12" id="video"></div>
                    </div>
                  </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a href="#/reviews" class="pull-right">more</a></br></br>
        </div>
      </div>
      <div class="col-md-8">
        <div class=" well">
          <center><h3  class="headerC"><ul>In Theaters</ul></h3></center>
          <div class="row">
          <div class="col-md-4 pull-left" ng-repeat="IT in ITheatersH">
            <p>Movie: {{IT.movieName}}</p>
            <img alt="img" class="img-thumbnail img-responsive " ng-src="{{IT.picURL}}">
            </div>
            <!-- <a href="#newsList/{{newsData.nID}}" class="blackC" ng-click="getNewsItem(newsData.nID)">{{newsData.nTitle}}</br></br></a> -->
          </div>
          <a href="#/InTheaters" class="pull-right"><h3>more</h3></a></br></br>
        </div>
        <div class=" well">
          <center><h3  class="headerC"><ul>Events</ul></h3></center>
          <div class="row">
          <div class="col-md-4 pull-left" ng-repeat="event in eventsH | orderBy : '-eventId' | limitTo:'6'">
            <p>{{event.eventName}}</p>
            <a href="#eventList/{{event.eventId}}"  ng-click="getEventByid(event.eventId)"><div class="blackC"><img alt="img" class="img-thumbnail img-responsive " ng-src="{{event.picURL}}"></div></a><br>
              <!-- <div class="col-md-12" ng-repeat="event in events | filter:queryEvents | orderBy : '-eventId'">
                <a href="#eventList/{{event.eventId}}"  ng-click="getEventByid(event.eventId)"><div class="blackC">{{event.eventName}}</div></a><br>
              </div> -->
          </div>
        </div>
        <a href="#/event" class="pull-right"><h3>more</h3></a><br><br>
      </div>
      <div class=" well">
        <center><h3  class="headerC"><ul>Up Comming Movies</ul></h3></center>
        <div class="row">
        <div class="col-md-4 pull-left" ng-repeat="movie in UCMovies | orderBy : '-trailerId'">
          <p>{{movie.movieName}}</p>
        <a href="#singleUpMovInfo/{{movie.movieId}}" class="blackC img-thumbnail img-responsive" ng-click="getMovieByid(movie.movieId)"><img alt="img" class="img-thumbnail img-responsive " height="100"  ng-src="{{movie.picRoute}}"></a>
          <br><br>
            </div>
      </div>
      <a href="#/event" class="pull-right"><h3>more</h3></a><br><br>
    </div>
    </div>
  </div>
</div>
