<div class="container" >
  <div class="">
    <div class="row">
      <div class="col-md-12">
       <div class="row ">
          <div class="col-md-8 jumbotron">
            <h3 class="headerC" >{{newsItem.nTitle}}</h3>
            <br>
              <center><img class="img-responsive" ng-src="{{newsItem.nImageName}}"></center>
            <br>
            <p>Description</p>
            {{newsItem.nDescription}}
          </div>
          <div class="col-md-4 jumbotron"></div>	
       </div>
      <div>
      </div>
    </div>
   </div>
 </div>
</div>
