<div class="container"  data-ng-init="init()">
  <div class="">
    <div class="row">
      <div class="col-md-12">
       <div class="row ">
          <div class="col-md-8 jumbotron">
            <center><h3 class="blueC">Movie Name{{testUCMovie.movieName}}</h3></center><br>
            <br>
              <center><img  class="img-responsive" ng-src="{{testUCMovie.picRoute}}"></center>
            <br>
            <p>Cast:</p>{{testUCMovie.cast}}
            <p>Director & Producer:</p>{{testUCMovie.ditectorProducer}}
            <p>Expected Release Date:</p>{{testUCMovie.expReleaseDate}}
            <p>Details:</p>{{testUCMovie.details}}
            <p></p>{{testUCMovie.others}}<br>
          </div>
          <div class="col-md-4 jumbotron"></div>
       </div>
      <div>
      </div>
    </div>
   </div>
 </div>
</div>
