<div class="container"  data-ng-init="init()">
  <div class="">
    <div class="row">
      <div class="col-md-12">
       <div class="row ">
          <div class="col-md-8 jumbotron">
            <center><h3 class="blueC">{{testEvent.eventName}}</h3></center><br>
            <br>
              <center><img  class="img-responsive" ng-src="{{testEvent.picURL}}"></center>
            <br>
            <p>Event Description</p>{{testEvent.eventDesc}}
            <br><br>{{testEvent.eventDetails}}
          </div>
          <div class="col-md-4 jumbotron"></div>
       </div>
      <div>
     </div>
    </div>
   </div>
 </div>
</div>
